streamlit
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# Database
supabase
bcrypt

# QR
segno

# Image
pillow

# Voice Attendance
librosa
resemblyzer
torch
webrtcvad